absl-py==0.15.0
arrow==1.2.3
asttokens==2.1.0
astunparse==1.6.3
backcall==0.2.0
brokenaxes==0.5.0
cachetools==5.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
clang==5.0
classifier==2.0
contourpy==1.0.6
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
entrypoints==0.4
executing==1.2.0
flatbuffers==1.12
fonttools==4.38.0
gast==0.4.0
google-auth==2.14.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.50.0
h5py==3.1.0
idna==3.4
imageio==2.35.1
importlib-metadata==5.0.0
ipykernel==6.17.0
ipython==8.6.0
jedi==0.18.1
joblib==1.2.0
jupyter_client==7.4.4
jupyter_core==4.11.2
keras==2.6.0
keras-contrib @ git+https://www.github.com/keras-team/keras-contrib.git@3fc5ef709e061416f4bc8a92ca3750c824b5d2b0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lazy_loader==0.4
llvmlite==0.40.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.3
matplotlib-inline==0.1.6
mpmath==1.3.0
nest-asyncio==1.5.6
networkx==3.1
numba==0.57.0
numpy==1.19.5
oauthlib==3.2.2
opencv-python==4.10.0.84
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
prompt-toolkit==3.0.32
protobuf==3.19.6
psutil==5.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.13.0
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
python-dateutil==2.8.2
pytz==2022.6
PyWavelets==1.4.1
pyzmq==24.0.1
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.18.3
scikit-learn==1.2.2
scipy==1.9.3
seaborn==0.12.2
six==1.15.0
stack-data==0.6.0
sympy==1.13.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.6.0
tensorflow-gpu==2.6.0
tensorflow-hub==0.12.0
termcolor==1.1.0
threadpoolctl==3.1.0
tifffile==2023.7.10
tornado==6.2
traitlets==5.5.0
typing-extensions==3.7.4.3
urllib3==1.26.12
wcwidth==0.2.5
Werkzeug==2.2.2
wrapt==1.12.1
zipp==3.10.0
